body {
	font-family: 'Open Sans', serif;
	text-align: center;
	background-image: url("vp.png");
	background-position: 50% 50px;
	height: 100%;
}

#date {
	font-size: 48px;
}

#day {
	font-size: 128px;
	margin-top: 10%;
}

#event {
	font-size: 44px;
}